@{
    ViewData["Title"] = "Home Page";
}
@model List<Student>



<div class="row">
    <div class="col-sm-12">
        <input type="text" id="Name" name="Name" class="form form-control" value="" placeholder="nhập tên">
        <button type="button" class="btn btn-success" onclick="Create()">Create New</button>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        <button type="button" class="btn btn-success mr-2 me-2" data-itemid="@item.Id"
                            onclick="Delete(event)">Delete</button>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modelId"
                            onclick="GetStudent(@item.Id)">Update</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="modelId">

    <input type="hidden" id="IdUpdate" value="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="">Name: </label>
                <input type="text" class="form-control" name="NameUpdate" id="NameUpdate" value="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="Save()">Save</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function GetStudent(id) {
            $.ajax({
                type: "GET",
                url: `api/student/${id}`,
                success: function (data) {
                    if (data.result == "OK") {
                        $("#NameUpdate").val(data.data.name);
                        $("#IdUpdate").val(data.data.id)
                    }
                }
            })
        }

        function Save() {
            var id = $("#IdUpdate").val()
            var name = $("#NameUpdate").val();
            var student = new Object();
            student.Name = name;
            student.Id = id;
            $.ajax({
                type: "PUT",
                url: `api/student/${id}`,
                data: JSON.stringify(student),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    document.location = "/";
                }
            })
        }

        function Create() {
            var name = $("#Name").val();
            var student = new Object();
            student.Name = name;

            $.ajax({
                type: "POST",
                url: "api/student/",
                data: JSON.stringify(student),
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    if (result == "Saved!") {
                        document.location = "/";
                    }
                }
            })
        }

        function Delete(e) {
            var id = $(e.currentTarget).data("itemid");

            $.ajax({
                type: "DELETE",
                url: `api/student/${id}`,
                success: function (result) {
                    if (result == "OK") {
                        document.location = "/";
                    }
                }
            })
        }
    </script>
}

