<nav id="sidebar" class="">
    <div class="p-4 pt-5">
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Article</a>
                <ul class="list-unstyled collapse show" id="homeSubmenu" style="">
                    <li>
                        <a href="/cp/article/add">Add</a>
                    </li>
                    <li>
                        <a href="/cp/article/getlist">List Article</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/cp/category">Category</a>
            </li>
            <li>
                <a href="/cp/sitemap">Create Sitemap</a>
            </li>
        </ul>
        <div class="footer">
            <p>
                Copyright © @DateTime.Now.Year All rights reserved

            </p>
        </div>
    </div>
</nav>

