<aside class="aside footer-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 holder">
                <div class="col">
                    <!-- logo of the page -->
                    <div class="logo">
                        <a href="#">
                            <img src="images/logo2.png" alt="dot">
                        </a>
                    </div>
                    <!-- logo of the page end -->
                    <p>
                        Copyright @Html.Raw("@") @DateTime.Now.Year
                    </p>
                    <!-- Social Network of the page -->
                    @* <ul class="social-networks">
                        <li><a href="#"><span class="ico-facebook"></span></a></li>
                        <li><a href="#"><span class="ico-twitter"></span></a></li>
                        <li><a href="#"><span class="ico-google-plus"></span></a></li>
                        <li><a href="#"><span class="ico-linkedin"></span></a></li>
                        <li><a href="#"><span class="ico-pinterest"></span></a></li>
                    </ul> *@
                    <!-- Social Network of the page -->
                </div>
                <!-- footer nav of the page -->
                @* <nav class="col footer-nav">
                    <h3>Important Links</h3>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">Support</a></li>
                    </ul>
                </nav> *@
                <!-- footer nav of the page end -->
                <!-- Widget holder of the page -->
                @* <div class="col widget-holder">
                    <h3>Popular Posts</h3>
                    <div class="widget recent-posts-widget">
                        <ol>
                            <li>
                                <h4><a href="single-post.html">I get up in the morning looking <br>for an adventure.</a>
                                </h4>
                                <span class="post-tag">
                                    <time datetime="2011-01-12"><a href="#">21st Jan</a></time>
                                </span>
                            </li>
                            <li>
                                <h4><a href="single-post.html">I get up in the morning looking <br>for an adventure.</a>
                                </h4>
                                <span class="post-tag">
                                    <time datetime="2011-01-12"><a href="#">21st Jan</a></time>
                                </span>
                            </li>
                        </ol>
                    </div>
                </div> *@
                <!-- Widget holder of the page end -->
                @* <div class="col">
                    <h3>Subscribe to Newsletter</h3>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.</p>
                    <!-- subscribe form of the page -->
                    <form action="#" class="subscribe-form">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Enter your email here">
                            <button type="button" class="ico-send"></button>
                        </div>
                    </form>
                    <!-- subscribe form of the page end -->
                </div> *@
            </div>
        </div>
    </div>
</aside>